.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333 !important;
    color: #fff;
    text-align: center;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer p {
    margin: 0;
}